@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

.form {
	width: 80%;
	margin: auto;
	margin-top: 25%;
}

label {
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

input {
	display: block;
	text-align: left;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

button {
	display: block;
	margin: auto;
	
	text-align: center;
	background-color: #2f571f;
	color: white;
	border: none;

	padding: 10px;
	width: 50px;

	cursor: pointer;
}

#container {
	width: auto;
	margin-right: 20px;
}

.spreadsheet {
	width: 100%;
	padding: 10px;

	border: #0002;
	border-width: 1px;
	border-radius: 10px;

	cursor: pointer;
}

.spreadsheet:hover {
	background-color: #28a80e40;
}

.spreadsheet::before {
	display: inline-block;
	vertical-align: middle;
	content: " ";

	width: 15px;
	height: 15px;
	background-color: #28a80e;
	border-radius: 5px;

	margin-right: 20px;
}