.script {
	font-family: 'Courier New', monospace;
	font-size: 12pt;
}

.script .character {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
}

.script .line {
	margin-top: 0px;
	margin-left: 20%;
	margin-right: 20%;
}

.script .goto {
	text-decoration: underline;
	color: rgb(150, 5, 5);
	cursor: pointer;
}

.script p {
	margin-left: 5%;
	margin-right: 5%;
}

.script h1 {
    font-size: 18pt;
    font-weight: bold;
    color: #000000ab;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}