.script {
	font-family: 'Courier New', monospace;
	font-size: 12pt;

	--panel-width : 50%;
	--panel-offset : 50%;
}

.script .character {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
}

.script .paragraph {
	margin-top: 0px;
	margin-left: 20%;
	margin-right: 20%;
}

.line:last-child {
	margin-bottom: 50px;
}

.goto:last-child {
	margin-bottom: 50px;
}

.script .goto {
	text-decoration: underline;
	color: rgb(150, 5, 5);
	cursor: pointer;
}

.script .line {
	max-width: 60ch;
	margin-inline: auto;
}

.script p {
	margin-left: 5%;
	margin-right: 5%;
}

.script textarea {
	margin-left: 5%;
    margin-right: 5%;
    resize: none;
    border: none;
    background-color: #00000000;
    font-family: inherit;
  	font-size: 100%;
	padding: 0;
	box-sizing: border-box;
}

.script h1 {
    font-size: 18pt;
    font-weight: bold;
    color: #000000ab;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.script .invalid {
	color: red;
	text-decoration: line-through;
}

.script .invalid::after {
	display: inline-block;

	content: attr(error);
	background-color: red;
	border: white;
	color: white;

	padding-left: 10px;
	padding-right: 10px;
    margin-left: 10px;
	font-size: 12pt;
}

.script .action {
	position: fixed;
	width: var(--panel-width);
	left: var(--panel-offset);
	bottom: 0;

	background-color: black;
	color: white;

	padding: 10px 20px 10px 20px;

	display: flex;
	flex-wrap: nowrap;

}

.script .action-label {
	content: 'Actions:';
	color: #fffa;
	flex-basis: content;
}

.script .action-input {
	flex-grow: 1;
	outline: 0px solid transparent;
	caret-color: white;
}