@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/UbuntuMono-Regular.ttf)
}

body {
	margin: 0px;
}

.window-title {
    -webkit-app-region: drag;
	position: absolute;
    height: 30px;
    right: 0;
    left: 0;
}

.hidden {
	display: none;
}

.editor {
	height: 100%;
	width: 100%;
	padding: 0PX;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.left {
	left: 0;
	overflow: scroll;
	background: linear-gradient(180deg, #151515 0%, #0F0F0F 100%);
}

.right {
	right: 0;
	background: linear-gradient(180deg, #eee 0%, #ddd 100%);
	overflow: scroll;
}

.splitter {
	z-index: 2;
	position: fixed;
	height: 100%;
	left: 50%;
	cursor: col-resize;
	width: 4px;
	user-select: none;
}

/* Context menu */

.context-menu {
	font-family: 'Ubuntu Mono', monospace;
	color: #eee;
	font-size: small;

	display: block;
	position: absolute;
	z-index: 10;

	padding: 10px 5px;
	width: 180px;
	
	backdrop-filter: blur(3px);
	background-color: #222d;
	
	box-shadow: 2px 2px 10px #1115;
	border: solid 1px #eee4;
	border-radius: 5px;
}

.context-menu.hidden {
	display: none;
}

.context-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.context-color-palette {
	display: block;
	text-align: center;
	padding: 5px 10px;
}

.context-color-button {
	display: inline-block;

	border-radius: 100%;
    border: solid 1px #eee5;
	height: 15px;
	width: 15px;
	margin: 3px;

	cursor: pointer;
}

.context-color-button:hover {
	border: solid 1px #eee;
}

.context-id {
	display: block;
	
	font-weight: bold;
	font-size: medium;
	text-align: center;
	text-decoration: none;
	
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;

	border-bottom: solid 1px #eee4;
}

.context-item {
	display: block;
	padding: 5px 10px;
	color: #eee;
	text-decoration: none;
	border-radius: 2px;
}

.context-item.hidden {
	display: none;
}

.context-item.resolve {
	background-color: red;
}

.context-item-separator {
	display: block;
	padding: 5px 10px;

	border-radius: 2px;
	margin-bottom: 7px;
	border-bottom: solid 1px #eee4;
}

.context-item:hover {
	color: #fff;
	cursor: pointer;
  	background-color: #eee4;
}

.context-item.danger:hover {
	background-color: #f888;
}

.context-item.blocked {
	color: rgba(238, 238, 238, 0.334);
}

.context-item.blocked:hover {
	background-color: rgba(238, 238, 238, 0.152);
}

.context-item:last-child {
	margin-bottom: 0;
}

.add-column-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	
	padding-inline: 10px;
	color: #eee;
	text-decoration: none;
	border-radius: 2px;
}

.add-column-container>* {
	padding-block: 5px;
	border-radius: 2px;
}

.add-column-container .button {
	width: 20%;
	font-weight: 900;
}

.add-column-container .button:hover {
	color: #fff;
	cursor: pointer;
  	background-color: #eee4;
}

/* If you want the content centered horizontally and vertically */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
	width: 150px;
	border-radius: 50%;
}