
.node {
	rx: 2;
	ry: 2;

	fill: #222;
	stroke: #eee; 
	stroke-width: 0.5;

	width: 20px;
	height: 20px;
}

.node:hover {
	stroke: #fff; 
	stroke-width: 1;
	cursor: default;
}

.edge {
	fill: rgb(104, 35, 35);
}

.selected {
	fill: #eee;
	font: bold 30px sans-serif;
}

.new {
	stroke-dasharray: 3;
}

text.new {
	fill: #eee;
	pointer-events: none;
}

.connector {
	stroke: #eee; 
	stroke-width: 0.4;
	marker-end: url(#arrowhead);
}

#arrowhead {
	stroke: #eee; 
	fill: #eee; 
	stroke-width: 0.4;
}