
.node {
	rx: 2;
	ry: 2;

	fill: #222;
	stroke: #eee; 
	stroke-width: 1;

	width: 20px;
	height: 20px;

	transform: translate( 0 );
	transform-origin: center;
	transform-box: fill-box;

	transition: all 0.1s ease-out;
}

.node:hover {
	stroke: #fff; 
	stroke-width: 1;
	cursor: default;
}

.edge {
	fill: rgb(104, 35, 35);
}

.selected {
	fill: #eee;
	font: bold 30px sans-serif;
	transform: rotate( 45deg );
	rx: 5;
	ry: 5;
}

.new {
	stroke-dasharray: 3;
}

text.new {
	fill: #eee;
	pointer-events: none;
}

text.node-id {
	fill: #222;
	font-family: 'Courier New', monospace;
	font-size: 8pt;
	display: block;
}

rect.node-id {
	fill: #eee;
	display: block;
}

.node-id.hidden {
	display: none;
}

line {
	stroke: #eee; 
	stroke-width: 0.4;
}

.connector {
	marker-end: url(#arrowhead);
}

#arrowhead {
	stroke: #eee; 
	fill: #eee; 
	stroke-width: 0.4;
}