.chapter-table {
	font-family: 'Courier New', monospace;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
  
.chapter-table td, .chapter-table th {	
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center; 
    vertical-align: middle;
	
	width: 100px;
}
  
.chapter-table tr:nth-child(even){background-color: #f2f2f2;}
  
.chapter-table th {
	text-align: center;
	background-color: #151515;
	font-weight: normal;
	color: white;
}

th {
	position: sticky;
}

th.column-Text {
	width: 300px;
}

td.column-Text {
	text-align: left; 
}

.chapter-table .selected {
	border: rgb(255, 85, 0);
	background-color: rgba(255, 85, 0, 0.1);
	border-style: dotted;
	border-width: 4px;
}

.chapter-table .collapsed {
	width: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.chapter-table th.collapsed {
	color: #ffffffaa;
	border: thin dashed;
}

.chapter-table th:hover {
	cursor: pointer;
}