.chapter-table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
  
.chapter-table td, .chapter-table th {	
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center; 
    vertical-align: middle;
	
	width: 100px;
}
  
.chapter-table tr:nth-child(even){background-color: #f2f2f2;}
  
.chapter-table th {
	text-align: center;
	background-color: #222;
	color: white;
}

th.column-Text {
	width: 300px;
}

td.column-Text {
	text-align: left; 
}