.toolbar {

	color: #eee;
	font-size: small;

	z-index: 10;
	display: block;
	position: absolute;
	top: 0;

	padding: 10px 5px;
	margin-top: 30px;
}

.toolbar.hidden {
	display: none;
}

.toolbar-list {
	margin: 0;
	padding: 0;
}

.toolbar-button {
	display: block;
	padding: 5px;
	height: 20px;

	text-decoration: none;
	
	color: #eee0;
	border-bottom-width: 2px;
	border-bottom: solid;

	margin-bottom: 5px;
}

.toolbar-button.active {
	background-color: #eee1;
	border-color: #eee;
	border-bottom-width: 2px;
}

.toolbar-button.current {
	font-weight: bold;
	color: #fff;
	background-color: #eee2;
}

.toolbar-button:hover {
	color: #fff;
	cursor: pointer;
  	background-color: #eee4;
	border-bottom-width: 2px;
}